<form action="/showfrom " method="post" >
    <p style="color: white " >รหัสสินค้า : </p><input type="text" name="id" size="40"><br><br>
    <p style="color: white " > ชื่อสินค้า :</p><input type="text" name="name" size="40"><br><br>
    <p style="color: white " > ราคาสินค้า :</p><input type="number" name="price" size="20"><br><br>
    <p style="color: white " >จำนวนสินค้า :</p><input type="number" name="amount" size="10"><br><br>
    <input type="submit" value="ตกลง">
    <input type="reset" value="ยกเลิก">
</form>