

<div class="row">
    <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
        <img src="/assets/images/1.jpg" alt="..." width="200px" height="250px">
        <div class="caption">
            <h3>GUESS BAGS</h3>
            <p>กระเป๋าถือ GB SE692307 ZENA สีขาว</p>
            <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; 6,990฿ </p>
        </div>
    </div>
</div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/2.jpg" alt="..." width="200px" height="230px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB SE692307 ZENA สีดำ</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp;6,990฿ </p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/3.jpg" alt="..." width="200px" height="250px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB SE692305 ZENA สีขาว</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; 6,590฿ </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/4.jpg" alt="..." width="200px" height="230px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB SE692305 ZENA สีชมพู</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY </a> &nbsp;&nbsp;&nbsp;6,590฿ </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/5.jpg" alt="..." width="200px" height="250px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB F6847599 WELLMAN สีขาวลาย</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; 2,990฿ </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/6.jpg" alt="..." width="200px" height="230px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB LE684329 TOBIN สีดำ</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; 6,990฿ </p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/7.jpg" alt="..." width="200px" height="250px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB LE684321 TOBIN สีขาว</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; 6,590฿ </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/8.jpg" alt="..." width="200px" height="230px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB LE684321 TOBIN สีดำ</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY </a> &nbsp;&nbsp;&nbsp; 6,590฿ </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/9.jpg" alt="..." width="200px" height="250px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB LE684306 TOBIN สีขาว</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; 6,990฿ </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/10.jpg" alt="..." width="200px" height="230px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB LE684306 TOBIN สีดำ</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; 6,990฿ </p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/11.jpg" alt="..." width="200px" height="250px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB DE684006 SMOKE สีดำ</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; 6,790฿ </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="/assets/images/12.jpg" alt="..." width="200px" height="230px">
            <div class="caption">
                <h3>GUESS BAGS</h3>
                <p>กระเป๋าถือ GB DE684006 SMOKE สีน้ำเงิน</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY </a> &nbsp;&nbsp;&nbsp; 6,790฿ </p>
            </div>
        </div>
    </div>
</div>
