@(beagle: Puppy,golden_retriever:Puppy,westie_terrier:Puppy, poodle:Puppy,maltese:Puppy,chowchow:Puppy)


<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="/assets/images/p1.jpg" alt="..." width="200px" height="250px">
            <div class="caption">
                <h3>@beagle.getName</h3>
                <p>จำนวนคงเหลือ : @beagle.getAmount ตัว</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; @beagle.getPrice/ตัว ฿ </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="/assets/images/p2.jpg" alt="..." width="200px" height="230px">
            <div class="caption">
                <h3>@golden_retriever.getName</h3>
                <p>จำนวนคงเหลือ : @golden_retriever.getAmount ตัว</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp;@golden_retriever.getPrice/ตัว ฿ </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="/assets/images/p3.jpg" alt="..." width="200px" height="250px">
            <div class="caption">
                <h3>@westie_terrier.getName</h3>
                <p>จำนวนคงเหลือ : @westie_terrier.getAmount ตัว</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; @westie_terrier.getPrice/ตัว ฿ </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="/assets/images/p4.jpg" alt="..." width="200px" height="250px">
            <div class="caption">
                <h3>@poodle.getName</h3>
                <p>จำนวนคงเหลือ : @poodle.getAmount ตัว</p>
                <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; @poodle.getPrice/ตัว ฿ </p>
            </div>
        </div>
    </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="/assets/images/p5.jpg" alt="..." width="200px" height="230px">
                <div class="caption">
                    <h3>@maltese.getName</h3>
                    <p>จำนวนคงเหลือ : @maltese.getAmount ตัว</p>
                    <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp;@maltese.getPrice/ตัว ฿ </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="/assets/images/p6.jpg" alt="..." width="200px" height="250px">
                <div class="caption">
                    <h3>@chowchow.getName</h3>
                    <p>จำนวนคงเหลือ : @chowchow.getAmount ตัว</p>
                    <p style="font-size: 25px;"><a href="#" class="btn btn-primary" role="button">BUY</a> &nbsp;&nbsp;&nbsp; @chowchow.getPrice/ตัว ฿ </p>
                </div>
            </div>
        </div>
</div>


